<div>
<div class="bg">
<p class="title">Local, Loving Pet Bay</p>
<p class="content">Book  caring families and trusted sitters <br>who'll treat your pets like family.</p>
<p></p>
</div>

<div class="bg2">
    <p class="title2">Services for your lovely pets</p>


<div class="grid"> 
    <div class="d1">
        <div><p class="title3"><img src="assets/img/img1.jpg">Dog Boarding</p></div>
        <p class="content2">Perfect if you need overnight pet care.</p>
        <p class="title3"><img src="assets/img/img2.jpg">House Sitting</p>
        <p class="content2">Great if you need overnight pet or house-sitting services.</p>
        <p class="title3"><img src="assets/img/img4.jpg">Doggy Day Care</p>
        <p class="content2">Daytime pet care in your sitter’s dog-friendly home.</p>
        <p class="title3"><img src="assets/img/img5.jpg">Visits</p>
        <p class="content2">For check-ins and play dates.</p>
    </div>

    <div class="d2">
        <p><img src="assets/img/img6.jpg"></p>
        <button nz-button nzType="default" class="btn" (click)="start()"><i nz-icon nzType="start"></i>Start Finding My Pet Sitters</button>
    </div>
</div>
</div>
</div>