<div>
  <nz-layout>
    <nz-header class="header">
      <div class="wrap">
        <div class="left">
          <h1>Pet Bay</h1>
          <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item [routerLink]="['/home']" routerLinkActive="router-link-active">Home</li>
            <li nz-menu-item [routerLink]="['/petboarding']" routerLinkActive="router-link-active">Pet Boarding</li>
            <li nz-menu-item [routerLink]="['/petsitting']" routerLinkActive="router-link-active">Pet Sitting</li>
          </ul>
        </div>
        <div class="right">
          <div class="user">
            <ul nz-menu nzTheme="dark" nzMode="horizontal">
              <li nz-submenu>
                <div title>
                  <i nz-icon type="user" nzTheme="outline"></i>
                  <span>Account</span>
                  <i nz-icon type="down" nzTheme="outline"></i>
                </div>
                <ul>
                  <li nz-menu-item [routerLink]="['/user/login']" *ngIf="!auth.loggedIn">
                      <i nz-icon type="login" nzTheme="outline"></i>
                    Log In
                  </li>
                  <li nz-menu-item [routerLink]="['/user/signup']" *ngIf="!auth.loggedIn">
                      <i nz-icon type="user-add" nzTheme="outline"></i>
                    Sign Up
                  </li>
                  <li nz-menu-item (click)="goProfile()" href="#" *ngIf="auth.loggedIn">
                    <i nz-icon type="profile" nzTheme="outline"></i>
                    My Profile
                  </li>
                  <li nz-menu-item (click)="logout()" href="#" *ngIf="auth.loggedIn">
                    <i nz-icon type="logout" nzTheme="outline"></i>
                    Log Out
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nz-header>

    <!-- revised to let content in the middle -->
    <nz-content class="content">
      <div class="contentbox">
          <router-outlet></router-outlet>   
      </div>
    </nz-content>

    <nz-footer class="footer">
      Ant Design ©2019 Implement By Angular
    </nz-footer>
  </nz-layout>
</div>

<br><br><br><br><br><br>

<!-- <header>
  <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
  <a [routerLink]="['/user']" routerLinkActive="router-link-active" >User</a>
  <a [routerLink]="['/petboarding']" routerLinkActive="router-link-active" >Pet Boarding</a>
  <a [routerLink]="['/petsitting']" routerLinkActive="router-link-active" >Pet Sitting</a>
</header>

<button nz-button nzType="primary">Primary</button>
<p>pet bay works</p>

<router-outlet></router-outlet> -->