<div>
    <p>Which kind of service are you looking for?</p>
    <nz-select nzPlaceHolder="Select a post type" [(ngModel)]="postType" (ngModelChange)="onPostTypeChange($event)">
        <nz-option nzValue="boarding" nzLabel="Pet Boarding"></nz-option>
        <nz-option nzValue="sitting" nzLabel="Pet Sitting"></nz-option>
    </nz-select>
</div>

<div class="petBoarding" *ngIf="post">
    <div>Which pet do you want to board? 
    <nz-select nzPlaceHolder="Select a pet" [(ngModel)]="petSelected">
        <nz-option *ngFor="let option of petlist" [nzLabel]="option.nickName" [nzValue]="option._id"></nz-option>
    </nz-select>
    </div>
    <div>What is the time period of pet boarding?
    <nz-range-picker
      nzFormat="yyyy-MM-dd"
      [nzPlaceHolder]="['Start Time', 'End Time']"
      ngModel
      (ngModelChange)="onChange($event)"
    ></nz-range-picker>
    </div>
    <div> What's your address?
        <input nz-input placeholder="Enter your address" [(ngModel)]="address" />
    </div>
    <div> Any comments?
    <textarea rows="5" nz-input [(ngModel)]="inputComment" placeholder="Is there any requirment of the host or the house? Is there anything else that the sitter should pay special attention to?"></textarea>
    </div> 
</div>

<div class="petSitting" *ngIf="!post">
    <div>Which kind(s) of pets you are able to take care of?
        <nz-select
        class="tag"
        [nzMaxTagCount]="5"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
        nzMode="multiple"
        nzPlaceHolder="Please select pet type(s)"
        [(ngModel)]="listOfSelectedPetType"
        >
        <nz-option *ngFor="let option of petTypeList" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>
        <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>
    </div>
    <div>Which time period are you avaliable?
        <nz-range-picker
          nzFormat="yyyy-MM-dd"
          [nzPlaceHolder]="['Start Time', 'End Time']"
          ngModel
          (ngModelChange)="onChange($event)"
        ></nz-range-picker>
    </div>
    <div>How much are you going to charge?
        <nz-input-number
        [(ngModel)]="price"
        [nzMin]="10"
        [nzMax]="150"
        [nzStep]="1"
        [nzFormatter]="formatterDollar"
        [nzParser]="parserDollar"
        ></nz-input-number>
    </div>
    <div> What's your address?
        <input nz-input placeholder="Enter your address" [(ngModel)]="address" />
    </div>
    <div>Any comments?
        <textarea rows="5" nz-input [(ngModel)]="inputComment" placeholder="Try to describe more, like house environment, service details and so on..."></textarea>
    </div>
    </div>

<nz-button-group>
    <button nz-button (click)="cancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="submit()">Submit</button>
</nz-button-group>

