  nz-header {
    background: #fff;
    padding: 0;
  }

  .demo-loadmore-list {
    min-height: 350px;
  }
  .loadmore {
    text-align: left;
    margin-top: 12px;
    margin-left:200px;
    height: 32px;
    line-height: 32px;
  }

  .layout{
    margin-right: 200px;
  }

  .content{
    margin-left: 150px;
  }