<nz-header><h1>User Information</h1></nz-header>
<br />
<br />
<br />
<div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="12">
        <nz-avatar [nzSize]="100" nzText="U" style="color:#f56a00; background-color:#fde3cf;"></nz-avatar>
    </div>
</div>
<br />
<br />
<br />
<div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="12">
        <h2>{{currentUser.username}}</h2>
        <br />
        <br />
        <br />
        <h2>{{currentUser.email}}</h2>
        <br />
        <br />
        <!-- <br />
        <h2>User Type</h2> -->
    </div>
</div>